#designer-box > form {
  margin-bottom: 0;
}

#status-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

#status-label {
  font-variant: small-caps;
}

#status-output {
  min-height: 2em;
}

#grid-field {
  width: 100%;
  height: 100%;
  resize: both;
  line-height: 0.75;
  font-size: large;
  font-family: Courier, "Courier New", monospace;
}

#grid-output {
  width: 100%;
  height: 10em;
  max-width: border-box;
  max-height: border-box;
  border: 1px solid #666;
  margin: 0;
  padding: 0;
  line-height: 1ex;
  font-size: xx-large;
  overflow: hidden;
}

#control-panel {
  margin-top: 1em;
  margin-bottom: 1em;
}

#control-panel button {
  color: black;
  font-size: 2em;
  padding: 0;
  margin: 0;
  border: 0;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
