header {
  text-align: center;
  margin: 1em 0 3em 0;
}

#designer-box {
  margin-bottom: 0;
  text-align: right;
}

#grid-field {
  width: 100%;
  height: 10em;
  resize: both;
  line-height: 0.75;
  font-size: large;
  font-family: Courier, "Courier New", monospace;
}

#game-area {
  height: 97vh;
  margin-top: 3em;
}

#message-box {
  border: 1px solid #bbb;
}

#messages-label {
  border-bottom: 1px solid #bbb;
  padding: 0.3em 1em;
  text-align: right;
  font-variant: small-caps;
}

#messages {
  height: 4em;
  margin: 0;
  padding: 0;
  resize: vertical;
  overflow: scroll;
  white-space: pre;
  list-style: none;
}

.message {
  margin: 0;
  padding: 0 0.5em;
}
.message:before {
  content: '>>  ';
  font-weight: bold;
}
.odd {
  background-color: #F7F7F7;
}

#grid-container {
  width: 100%;
  height: 80%;
  margin: 0.2em 0 0.5em 0;
  border: 1px solid #bbb;
  padding: 2%;
  box-sizing: border-box;
}

#grid-output {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1ex;
  font-size: xx-large;
}

#control-panel {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

#grid-form label > span:first-child {
  margin-right: 5px;
  vertical-align: top;
  font-size: 18px;
  font-variant: small-caps;
}

#grid-form select,
#grid-form input {
  width: max-content;
}

label {
  display: block;
  width: 100%;
}

/*
 * Help Tooltip
 *
 * To add a tooltip, create a paragraph inside a div with the .help-tip class:
 *
 *   <div class="help-tip"><p>{{ HELP_TEXT }}</p></div>
 */

/* The tooltip container. */
.help-tip {
  display: inline-block;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  cursor: default;
}


/* The tooltip icon (?). */
.help-tip:before {
  content: '?';
  font-weight:  bold;
  color: #fff;
}

/* Display the tooltip on hover. */
.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

/* The tooltip box itself. */
.help-tip p {
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

/* Prevent the tooltip from being hidden */
.help-tip p:after {
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:100%; }
}
