header {
  text-align: center;
  margin: 1em 0 3em 0;
}

#designer-box > form {
  margin-bottom: 0;
}

#game-area {
  margin-top: 3em;
  height: 100vh;
}

#status-box {
  text-align: right;
  padding-top: 1em;
}

#status-label {
  font-variant: small-caps;
}

#status-output {
  min-height: 2em;
}

#grid-field {
  width: 100%;
  height: 10em;
  resize: both;
  line-height: 0.75;
  font-size: large;
  font-family: Courier, "Courier New", monospace;
}

#grid-output {
  width: 100%;
  height: 80%;
  border: 1px solid #666;
  margin: 0.2em 0 0.5em 0;
  padding: 0;
  line-height: 1ex;
  font-size: xx-large;
  overflow: hidden;
}

#control-panel {
  padding-bottom: 1em;
  text-align: center;
}

.command-btn {
  font-size: 1.3em;
}
