<!DOCTYPE html>
<html lang="en">
<head>

	<!-- basic page needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf8">
	<title>{{ title }}</title>
	<meta name="description" content="A web app that allows the user to configure and run a Conway's Game of Life simulation.">

  <!-- mobile-specific meta
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fonts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



  <!-- css
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<link rel="stylesheet" href="static/style.css">

  <!-- favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="static/images/favicon.png">

</head>
<body>

  <!-- main page layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">

		<header><h1>Conway's Game of Life</h1></header>

		<div class="row" id="designer-box">
			<form id="grid-form">
				<div class="nine columns">
					<textarea id="grid-field" rows="20" cols="20" wrap="off"
							placeholder="Design your starting pattern here."
							autocomplete="off" spellcheck="false"
							autocapitalize="none">{{ default_grid | trim }}</textarea>
				</div>
				<div class="three columns">
					<button type="submit" id="grid-submit">Load Pattern</button>
				</div>
			</form>
		</div>

		<div id="game-area">
			<div class="row" id="status-box">
				<div id="status-label">messages</div>
				<ul id="status-output"></ul>
			</div>

			<div class="row" id="grid-container">
				<div id="grid-output"></div>
			</div>

			<div class="row" id="control-panel">
				<div class="offset-by-one one column">
					<button class="command-btn fa fa-play"
							type="button" value="play" title="Play"></button>
				</div>
				<div class="one column">
					<button class="command-btn fa fa-pause"
							type="button" value="pause" title="Pause"></button>
				</div>
				<div class="one column">
					<button class="command-btn fa fa-step-forward"
							type="button" value="step" title="Step"></button>
				</div>

				<div class="offset-by-one one column">
					<button class="command-btn fa fa-angle-up"
							type="button" value="scroll (0, 5)" title="Scroll Up"></button>
				</div>
				<div class="one column">
					<button class="command-btn fa fa-angle-down"
						 type="button" value="scroll (0, -5)" title="Scroll Down"></button>
				</div>
				<div class="one column">
					<button class="command-btn fa fa-angle-left"
							type="button" value="scroll (5, 0)" title="Scroll Left"></button>
				</div>
				<div class="one column">
					<button class="command-btn fa fa-angle-right"
							type="button" value="scroll (-5, 0)" title="Scroll Right"></button>
				</div>

				<div class="offset-by-one one column">
					<button class="command-btn fa fa-redo"
							type="button" value="restart" title="Restart Game"></button>
				</div>
			</div>
		</div>

	</div>

	<!-- scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="static/index.js"></script>

	<!-- end document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
